@charset "utf-8";
/* CSS Document */

html, body {
  margin: 0;
  padding: 0;
}

#maincontent {
  width: 100%;
}
header {
  width: 100%;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #B1B1B1;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  width: 100%
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  display: table;
}
nav h1 {
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 16px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* Styling for skip link functionality*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #333;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 50px;
  background-color: #217CBA;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 10px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 14px;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 25%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 16px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;

}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 0;
  min-height: 380px;
  padding: 16px;
  text-align: left;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  min-height: 248px;
  width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 13pt;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  width: 100%
}
#restaurants-list p {
  margin: 0;
  font-size: 14px;
  width: 100%;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #494949;
  display: inline-block;
  font-size: 13px;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 400px;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  max-width: 100%;
}
#restaurant-name {
  color: orange;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  float: left;
}
#restaurant-img {
  width: 90%;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  max-width:100%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  width: 85%;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

#restaurant-hours td {
  color: #666;
}

#reviews-list li #head {
  padding: 0 24px 24px;
  background-color: #333;
  min-height: 25px;
}
#reviews-list li #head .alignLeft {
  float: left;
  color: #fff;
  font-weight: bold;
  font-size: 12pt
}
#reviews-list li #head .alignRight {
  float: right;
  color: rgba(255, 255, 255, 0.74);
  font-weight: 600;
}
#reviews-list li #bottom {
  padding: 0 24px 24px;
}
#reviews-list li #bottom .rating span {
  background-color: orange;
  padding: 8px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
#reviews-list li #bottom .rating {
  margin-top: 16px;
}
#review_form {
  /* width: 85%; */
  margin-bottom: 30px;
}
form {
  width: 85%;
  border: 1px solid #eee;
}
fieldset {
  border: none;
  background-color: #fff;
  padding: 16px;  
  display: flex;
  flex-wrap: wrap;
}
textarea {
  width: 100%;
}
.align-rating {
  float: left;
  width: 40%;
}
.align-name {
  float: right;
  width: 40%;
}
label {
  font-weight: bold;
}
#rating-select {
  height: 35px;
  width: 100%;
  /* float: left; */
}
#reviewer-name {
  height: 30px;
  /* padding: 8px; */
  width: 100%;
  /* float: right; */
}
#btn-review {
  width: auto;
  height: auto;
  padding: 8px;
  background-color: orange;
  color: #fff;
  border: none;
  border-bottom: 3px solid #eee
}
#btn-review:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.btn_favourite {
  float: right;
  margin: 15px 0 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btn_favourite:focus {
  outline: none;
} 
.mark {
  display: none;
}
.isFavourite .unmark {
  display: none;
}
.isFavourite .mark {
  display: block;
}
@media only screen and (max-width: 480px) {
  .filter-options select {
    width: 100%;
  }
  .filter-options {
    height: auto;
  } 
  .filter-options h2 {
    margin: 16px;
  }

  #restaurants-list li {
    margin: 8px;
  }
 } /* Narrow */
@media only screen and (min-width: 481px) and (max-width: 960px) { 
    #restaurants-list {
    justify-content: center;
  }

  #restaurants-list li {
    width: 38%; 
    margin: 8px;
  }
 } /* Medium */
@media only screen and (min-width: 961px) { 
  #restaurants-list {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  #restaurants-list li {
    width: 26.8%; 
    margin: 8px;
  }

  .inside header {
    position: fixed;
    top: 0;
  }

  #breadcrumb {
    width: calc(50% - 80px);
  }

  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
  }

  #restaurant-container, #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 140px 40px 30px;
    width: calc(50% - 80px);
  }

  #footer {
    z-index: 1000;
  }
 } /* Wide */

@media screen and (max-width: 960px) {
  nav h1 a {
    font-size: 14px;
    letter-spacing: 4px
  }
   #breadcrumb {
    padding-left: 20px;
    padding-right: 20px;
  }
  #restaurant-cuisine,
  #restaurant-img {
    width: 100%;
  }
  #restaurant-container,
  #reviews-container {
    padding: 24px;
  }
  #reviews-list li, form {
    width: 100%;
  }
  #restaurant-name {
    font-size: 4vw;
  }
}
